@tailwind base;
@tailwind components;
@tailwind utilities;

.landing {
  background: linear-gradient(rgba(0, 0, 0, 0.427), rgba(0, 0, 0, 0.204)),
    url("https://res.cloudinary.com/karuna-wedding-org/image/upload/v1661105221/welsenElene/Welsen___Elene_CS_1943_hevllx.jpg");
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
}
